<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title> 
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico" type="image/x-icon') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="{{url_for('static', filename ='css/style.css')}}">

    {% block head %} {% endblock %}
</head>

<body>
    <nav id="navbar">
        <div id="navbar_content">
            <a href="{{url_for('homeV1')}}" class="navbar_text">INICIO</a>
            <a href="{{url_for('perdi_mi_mascota')}}" class="navbar_text">PERDÍ A MI MASCOTA</a>
            <a href="{{url_for('encontre_una_mascota')}}" class="navbar_text">ENCONTRÉ UNA MASCOTA</a>
            <a href="{{url_for('faq')}}" class="navbar_text">CÓMO FUNCIONA</a>
            <a href="{{url_for('info')}}" class="navbar_text">MAS INFO</a>
        </div>
    </nav>
    <div id="body">
        {% block body %} {% endblock %}
    </div>
</body>

</html>