{% extends "base.html" %}
{% block title%}Encontré una mascota{% endblock %}
{% block body %}

{% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
            <ul class=errors>
                {% for msg in errors %}
                    <li class="errors_li">{{ msg }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

{% with succeses = get_flashed_messages(category_filter=["success"]) %}
    {% if succeses %}
        <ul class=success>
            {% for msg in succeses %}
                <li class="success_li">{{ msg }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<div id="title_perdi_container">
    <h1 id="title_perdi">Cargá los datos de la mascota</h1>
</div>

<div id="content_perdi">
    <div id="form_container">
        <form id="form" method="POST" action="{{ url_for('encontre_una_mascota') }}" enctype="multipart/form-data">
            <fieldset>
                <legend>Info Mascota</legend>
                <div id="input_container">

                    <div class="label_container">
                        <label for="nombre"></label>
                        <input class="input_perdi left" type="text" id="nombre" name="fnombre" placeholder="Nombre"
                            required>

                        <label for="animal"></label>
                        <input class="input_perdi" type="text" id="animal" name="fanimal" placeholder="Animal" required>
                    </div>

                    <div class="label_container">
                        <label for="raza"></label>
                        <input class="input_perdi left" type="text" id="raza" name="fraza" placeholder="Raza" required>

                        <label for="color"></label>
                        <input class="input_perdi" type="text" id="color" name="fcolor" placeholder="Color" required>
                    </div>

                    <div class="label_container">
                        <label for="zona"></label>
                        <input class="input_perdi left" type="text" id="zona" name="fdireccion" placeholder="Dirección" required>

                        <label for="telefono"></label>
                        <input class="input_perdi" type="tel" id="telefono" name="ftelefono" placeholder="Teléfono" required>
                    </div>

                    <label for="email"></label>
                    <input class="input_perdi" type="email" id="email" name="femail" placeholder="Email" required>

                    <label for="message"></label>
                    <textarea class="input_perdi" id="message" name="fmessage" placeholder="Descripción" required></textarea>

                    <label for="edad"></label>
                    <input class="input_perdi" type="text" id="edad" name="fedad" placeholder="Edad" required>


                    <label for="fecha"></label>
                    <input class="input_perdi" type="date" id="fecha" name="fecha" required>

                    <label for="estado"></label>
                    <input class="input_perdi" list="opciones" id="estado" name="festado" placeholder="Elige una opción">
                    
                    <datalist id="opciones">
                        <option value="perdido">
                        <option value="encontrado">
                    </datalist>

                    <label for="foto">Foto de la mascota:</label>
                    <input type="file" id="image" name="fimage" required>

                    <button id="enviar" type="submit">ENVIAR</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}