{% extends "base.html" %}
{% block title%}Encontre una mascota{% endblock %}
{% block body %}
<div id="title_perdi_container">
    
    <h1 id="title_perdi">Carga los datos de la mascota</h1>
</div>

<div id="content_perdi">
    <div id="map_container">
        <figure id="figure_map">
            <iframe id="map" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Brooklyn,+New+York,+NY,+United+States&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=61.282355,146.513672&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;ll=40.649974,-73.950005&amp;spn=0.01628,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
        </figure>
    </div>
    <div id="form_container">
        <form id="form" action="">
            <div id="input_container">
                <div class="label_container">
                    <label for="raza"></label>
                    <input class="input_perdi left" type="text" id="raza" name="fraza" placeholder="Raza">
            
                    <label for="color"></label>
                    <input class="input_perdi" type="text" id="color" name="fcolor" placeholder="Color">
                </div>

                <div class="label_container">
                    <label for="zona"></label>
                    <input class="input_perdi left" type="text" id="zona" name="fzona" placeholder="Zona">
            
                    <label for="telefono"></label>
                    <input class="input_perdi" type="telephone" id="telefono" name="ftelefono" placeholder="Telefono">
                </div>
        
                <label for="email"></label>
                <input class="input_perdi" type="email" id="email" name="femail" placeholder="Email">

                <label for="message"></label>
                <textarea class="input_perdi" id="message" name="fmessage" placeholder="Mensaje"></textarea>

                <label for="foto">Foto de la mascota:</label>
                <input type="file" id="image" name="fimage">
                <button id="enviar" type="submit">ENVIAR</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
