{% extends "base.html" %}
{% block title%}About {% endblock %}
{% block body %}



<!--content-->

<body>
    <div class="container padTop padBot">
        <div class="row">
            <article class="span12">
                <h2>PREGUNTAS FRECUENTES</h2>
                <div class="row">
                    <ul class="thumb-pad2">
                        <li class="span3 thumbnail maxheight">
                            <figure><img src="img/page4_pic1.jpg" alt=""><em></em></figure>
                            <div class="caption">
                                <h4><em>Cargar una mascota perdida</em></h4>
                                <p>Podés <a href="./upload.html">cargar</a> en nuestro formulario los datos de tu
                                    mascota perdida tales como raza,
                                    color, ubicación en la cual fue vista por ultima vez,
                                    fotos y una red social donde las personas puedan comunicarse vos. Recordá
                                    seleccionar la opción "perdida" y solo incluir datos de contacto.</p>
                            </div>
                        </li>
                        <li class="span3 thumbnail maxheight">
                            <figure><img src="img/page4_pic2.jpg" alt=""><em></em></figure>
                            <div class="caption">
                                <h4><em>Buscar una mascota</em></h4>
                                <p>En le sección de <a href="./search.html">búsqueda</a> podrás ver a todas las mascotas
                                    perdidas cargadas y buscar la tuya con alguna palabra clave.</p>
                            </div>
                        </li>
                        <li class="span3 thumbnail maxheight">
                            <figure><img src="img/page4_pic3.jpg" alt=""><em></em></figure>
                            <div class="caption">
                                <h4><em>Adoptar o dar en adopción</em></h4>
                                <p>Podés publicar en nuestra lista de <a href="./adopt.html">adopción</a> a una mascota
                                    seleccionando la
                                    opción "adopción" en el formulario de carga</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
</body>
{% endblock %}