{% extends "base.html" %}
{% block title %}Help{% endblock %}
{% block body %}

<h1 id="como_funciona_title">Cómo Funciona</h1>

<div class="como_funciona_bloque">
    <div class="como_funciona_subtitle">
        <h2>Cargar una Mascota Perdida</h2>
    </div>
    <div class="como_funciona_text">
        <p>Para cargar una mascota perdida, ingresá los detalles más importantes como:</p>
        <ul>
            <li><strong>Raza</strong>: Especificá la raza o una descripción general si es desconocida.</li>
            <li><strong>Color</strong>: Ayudá a los demás a identificarla rápidamente.</li>
            <li><strong>Ubicación</strong>: Indicá el lugar donde fue vista por última vez.</li>
	    <li><strong>Fecha</strong>: Indicá la fecha cuando fue vista por última vez.</li>
            <li><strong>Fotos</strong>: Las imágenes claras ayudan mucho a la identificación.</li>
            <li><strong>Contacto</strong>: Dejá un número de teléfono para que los posibles halladores puedan
                comunicarse con vos.</li>
        </ul>
    </div>
</div>

<br>

<div class="como_funciona_bloque">
    <div class="como_funciona_subtitle">
        <h2>Perdí a mi Mascota</h2>
    </div>
    <div class="como_funciona_text">
        <p>Si perdiste tu mascota, simplemente ingresá sus datos en la sección de "Cargar Mascota Perdida". Asegurate
            de:</p>
        <ul>
            <li><strong>Actualizar tu ubicación</strong>: La información precisa aumenta las probabilidades de
                encontrarla.</li>
            <li><strong>Incluir una descripción detallada</strong>: Cualquier detalle específico como marcas o
                particularidades puede ser útil.</li>
            <li><strong>Revisar otras mascotas encontradas</strong>: Tal vez alguien haya visto a tu mascota y cargado
                su información en el sitio.</li>
        </ul>
    </div>
</div>

<br>

<div class="como_funciona_bloque">
    <div class="como_funciona_subtitle">
        <h2>Encontré una Mascota</h2>
    </div>
    <div class="como_funciona_text">
        <p>Si encontraste una mascota, te recomendamos seguir estos pasos:</p>
        <ul>
            <li><strong>Subí una foto clara</strong> para que el dueño pueda reconocerla rápidamente.</li>
            <li><strong>Incluí información relevante</strong>: Descripción, raza, color, características físicas y
                accesorios como collares o placas de identificación.</li>
            <li><strong>Comunicarse de inmediato</strong>: No dudes en dar un número de contacto para facilitar la
                conexión con el dueño.</li>
        </ul>
    </div>
</div>

<h2 id="faq_title">FAQs (Preguntas Frecuentes)</h2>

<div class="faq_bloque">
    <div class="faq_subtitle">
        <h3>¿Qué datos puedo cargar si encontré una mascota?</h3>
    </div>
    <div class="faq_text">
        <p>Te sugerimos cargar los siguientes detalles:</p>
        <ul>
            <li><strong>Raza y color</strong>: Esto ayuda a los dueños a identificar a su mascota rápidamente.</li>
            <li><strong>Accesorios</strong>: Si la mascota tiene collar, correa o cualquier accesorio distintivo,
                menciónalo.</li>
            <li><strong>Ubicación donde la encontraste</strong>: Esto permite que los dueños tengan pistas de dónde
                buscar.</li>
        </ul>
    </div>
    <br>


    <div class="faq_subtitle">
        <h3>¿Hay un límite para cargar mascotas?</h3>
    </div>
    <div class="faq_text">
        <p>No, no hay ningún límite. Podés cargar tantas mascotas como quieras, tanto si las encontraste o las perdiste.</p>
    </div>
    <br>

    <div class="faq_subtitle">
        <h3>¿Hasta qué horario funciona la página web?</h3>
    </div>
    <div class="faq_text">
        <p>La página está disponible 24/7. Sin embargo, en caso de mantenimiento, se mostrará un mensaje informándote de
            la interrupción.</p>
    </div>
    <br>

    <div class="faq_subtitle">
        <h3>¿Cómo puedo contactar al dueño de una mascota?</h3>
    </div>
    <div class="faq_text">
        <p>Una vez que cargués los datos de la mascota encontrada o perdida, podrás agregar tu número de teléfono o
            correo electrónico para que las personas puedan contactarte directamente.</p>
    </div>
    <br>

    <div class="faq_subtitle">
        <h3>¿Cómo puedo actualizar la información de una mascota que encontré?</h3>
    </div>
    <div class="faq_text">
        <p>Si encontraste una mascota y tenés nueva información sobre ella, podés actualizar la publicación
            accediendo a tu perfil y modificando los detalles.</p>
    </div>
</div>

{% endblock %}
