{% extends "base.html" %}
{% block title%}Help {% endblock %}
{% block body %}
<h1 id = "como_funciona_title">Como Funciona</h1>
<div class="como_funciona_bloque">
    <div class="como_funciona_subtitle">
      <h1>Cargar una mascota perdida</h1>
    </div>
    <div class="como_funciona_text">
      <p>Puedes cargar datos de la mascota perdida, como raza, color, la ubicación en 
        la cual fue vista por última vez, fotos y un numero de telefono para que puedan
        comunicarse contigo.</p>
    </div>
    <br>
    <div class="como_funciona_subtitle">
        <h1>Perdi a mi mascota</h1>
      </div>
      <div class="como_funciona_text">
        <p>Dentro de "Cargar mascota perdida", podras cargar los datos de tu mascota 
            perdida y poder hallarla.</p>
      </div>
    <br>
    <div class="como_funciona_subtitle">
        <h1>Encontre una mascota</h1>
      </div>
      <div class="como_funciona_text">
        <p>Otra opcion es "Encontre una mascota", en caso de que hayas encontrado una mascota perdida, puedes 
           subir los datos y dar con su duenio.</p>
      </div>
  </div>

<h2 id = "faq_title">FAQs</h2>
<div class="faq_bloque">
    <div class="faq_subtitle">
        <h2>Que datos puedo cargar si encontre una mascota?</h2>
    </div>
        <div class="faq_text">
        <p>En caso de hallar una mascota, recomendamos publicar informacion como la raza. 
           el color, alguna marca distintiva o si tiene algun accesorio como un collar</p>
        </div>
    <br>
    <div class="faq_subtitle">
        <h2>Hay un limite para cargar mascotas?</h2>
    </div>
        <div class="faq_text">
        <p>No, no hay un limite para cargar mascotas.</p>
        </div>
    <br>
    <div class="faq_subtitle">
        <h2>Hasta que horario funciona la pagina web?</h2>
    </div>
        <div class="faq_text">
        <p>La pagina siempre esta en funcionamiento, en caso de mantenimiento aparecera un 
            mensaje informandolo.</p>
        </div>
</div>

    

{% endblock %}
