{% extends "base.html" %}
{% block title%}Home{% endblock %}
{% block body %}

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Barra de navegación</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="./index.html">Inicio</a>
                <a class="nav-item nav-link" href="./faq.html">Cómo funciona</a>
                <a class="nav-item nav-link" href="./upload.html">Cargar</a>
                <a class="nav-item nav-link" href="./search.html">Buscar</a>
            </div>
        </div>
    </nav>
    <section class="slider">
        <div class="container">
            <div class="row">
                <article class="span4 dog-box">
                    <figure><img src="img/page1_pic1.jpg" alt=""></figure>
                </article>
                <h1>¡Te ayudamos a encontrar a tu mascota!</h1>
                <article class="span8 pull-left">
                    <p class="margBot">¿Se te perdió tu mascota o encontraste una mascota
                        que creés que está perdida?</p>
                    <p class="margBot"></p>Esta aplicación web
                    está acá para ayudar a las mascotas a que vuelvan a sus hogares.</p>
            </div>
        </div>
        <button type="button" class="btn btn-primary">Perdí a mi mascota</button>
        <button type="button" class="btn btn-primary">Encontré una mascota</button>
    </section>
</body>
{% endblock %}