{% extends "base.html" %}
{% block title%}Help {% endblock %}
{% block body %}

<!--content-->
<div class="container padTop padBot3">
    <div class="row">
        <article class="span4">
            <h2>Cómo funciona</h2>
        </article>
        <article class="span8 margBot3">
            <h4><em>Cargar una mascota perdida</em></h4>
            <p class="margBot2">Para cargar una mascota perdida, debes ir a la pestania de "Cargar Mascota". Luego,
                podras cargar datos de la mascota, como la raza, el color, la ubicacion en la cual fue vista por ultima
                vez,
                fotos y una red social en caso de querer difundir informacion y hacersela llegar.
            </p>
            <h4><em>Perdi a mi mascota</em></h4>
            <p class="margBot2">Dentro de "Cargar mascota perdida", podras cargar los datos de tu mascota perdida y
                poder hallarla.
            </p>
            <h4><em>Encontre una mascota</em></h4>
            <p class="margBot2"> Otra opcion es en caso de que hayas encontrado una mascota perdida, puedes subir los
                datos y dar con su duenio.
            </p>
        </article>
        <article class="span8 margBot3">
            <h2>FAQs</h2>
            <h4><em>Que datos puedo cargar si encontre una mascota?</em></h4>
            <p class="margBot2">En caso de hallar una mascota, recomendamos publicar informacion como la raza. el color,
                alguna marca distintiva o si tiene algun accesorio como un collar</p>
            <h4><em>Hay un limite para cargar mascotas?</em></h4>
            <p class="margBot2">No, no hay un limite para cargar mascotas.</p>
            <h4><em>Hasta que horario funciona la pagina web?</em></h4>
            <p>La pagina siempre esta en funcionamiento, en caso de mantenimiento aparecera un mensaje informandolo.</p>
        </article>
    </div>
    </article>
</div>
</div>
</body>

</html>
{% endblock %}