{% extends "base.html" %}
{% block title%}About {% endblock %}
{% block body %}
	


<!--content-->
<div class="container padTop padBot">
    <div class="row">
        <article class="span4">
            <h3>Services</h3>
            <ul class="list2">
                <li><em class="icon-double-angle-right">&nbsp;</em><a href="#"><p class="extra-wrap">Praesent vestibulum molestie lacus</p></a></li>
                <li><em class="icon-double-angle-right">&nbsp;</em><a href="#"><p class="extra-wrap">Aenean nonummy hendrerit mauris</p></a></li>
                <li><em class="icon-double-angle-right">&nbsp;</em><a href="#"><p class="extra-wrap">Fusce suscipit varius mi</p></a></li>
                <li><em class="icon-double-angle-right">&nbsp;</em><a href="#"><p class="extra-wrap">Cum sociis natoque penatibus et magnis di</p></a></li>
                <li><em class="icon-double-angle-right">&nbsp;</em><a href="#"><p class="extra-wrap">Montes, nascetur ridiculus mus</p></a></li>
                <li><em class="icon-double-angle-right">&nbsp;</em><a href="#"><p class="extra-wrap">Duis ultricies pharetra magna donec accu</p></a></li>
                <li><em class="icon-double-angle-right">&nbsp;</em><a href="#"><p class="extra-wrap">Lorem ipsum dolor sit amet, conse</p></a></li>
            </ul>
        </article>
        <article class="span4">
            <h3><i>Principles</i></h3>
            <ul class="list2">
                <li><em class="icon-double-angle-right">&nbsp;</em><a href="#"><p class="extra-wrap">Praesent vestibulum molestie lacus</p></a></li>
                <li><em class="icon-double-angle-right">&nbsp;</em><a href="#"><p class="extra-wrap">Aenean nonummy hendrerit mauris</p></a></li>
                <li><em class="icon-double-angle-right">&nbsp;</em><a href="#"><p class="extra-wrap">Fusce suscipit varius mi</p></a></li>
                <li><em class="icon-double-angle-right">&nbsp;</em><a href="#"><p class="extra-wrap">Cum sociis natoque penatibus et magnis di</p></a></li>
                <li><em class="icon-double-angle-right">&nbsp;</em><a href="#"><p class="extra-wrap">Montes, nascetur ridiculus mus</p></a></li>
                <li><em class="icon-double-angle-right">&nbsp;</em><a href="#"><p class="extra-wrap">Duis ultricies pharetra magna donec accu</p></a></li>
                <li><em class="icon-double-angle-right">&nbsp;</em><a href="#"><p class="extra-wrap">Lorem ipsum dolor sit amet, conse</p></a></li>
            </ul>
        </article>
        <article class="span4">
            <h3><em>Standards</em></h3>
            <ul class="list2">
                <li><em class="icon-double-angle-right">&nbsp;</em><a href="#"><p class="extra-wrap">Praesent vestibulum molestie lacus</p></a></li>
                <li><em class="icon-double-angle-right">&nbsp;</em><a href="#"><p class="extra-wrap">Aenean nonummy hendrerit mauris</p></a></li>
                <li><em class="icon-double-angle-right">&nbsp;</em><a href="#"><p class="extra-wrap">Fusce suscipit varius mi</p></a></li>
                <li><em class="icon-double-angle-right">&nbsp;</em><a href="#"><p class="extra-wrap">Cum sociis natoque penatibus et magnis di</p></a></li>
                <li><em class="icon-double-angle-right">&nbsp;</em><a href="#"><p class="extra-wrap">Montes, nascetur ridiculus mus</p></a></li>
                <li><em class="icon-double-angle-right">&nbsp;</em><a href="#"><p class="extra-wrap">Duis ultricies pharetra magna donec accu</p></a></li>
                <li><em class="icon-double-angle-right">&nbsp;</em><a href="#"><p class="extra-wrap">Lorem ipsum dolor sit amet, conse</p></a></li>
            </ul>
        </article>
    </div>
</div>
<section class="about-holder box">
    <div class="container">
        <div class="row">
            <article class="span12">
                <div class="thumb-pad1">
                    <div class="thumbnail">
                        <figure><img src="img/page2_pic1.jpg" alt=""></figure>
                        <div class="caption">
                            <h2>Shortly about us</h2>
                            <h4>Morbi nunc odio, gravida at, cursus nec, luctus a, lorem  maece nas tristique orci ac sem duis ultricies pharetra magna.</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto bee vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.</p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
         <article class="span12 padTop1 padBot2">
            <h2>What we offer</h2>
            <p class="margBot1">Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit.</p>
            <div class="row">
                <article class="span6">
                    <ul class="list1">
                        <li>
                            <div class="extra-wrap">
                                <a href="#">Excepteur sint occaecatol</a>
                                <p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermen.</p>
                            </div>
                        </li>
                        <li class="bord">
                            <div class="extra-wrap">
                                <a href="#">Cupidatat non proident sunt</a>
                                <p>sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum.</p>
                            </div>
                        </li>
                    </ul>
                </article>
                <article class="span6">
                    <ul class="list1">
                        <li>
                            <div class="extra-wrap">
                                <a href="#">Excepteur sint occaecatol</a>
                                <p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermen.</p>
                            </div>
                        </li>
                        <li class="bord">
                            <div class="extra-wrap">
                                <a href="#">Cupidatat non proident sunt</a>
                                <p>sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum.</p>
                            </div>
                        </li>
                    </ul>
                </article>
            </div>
         </article>
    </div>

{% endblock %}
