{% extends "base.html" %}
{% block title %}Detalles de la Mascota{% endblock %}
{% block body %}
<div id="individual_mascota_container">

    <div id="mascota_details">
        
        <!-- Imagen de la mascota -->
        <div id="mascota_image_container">
            <img id="mascota_image" src="{{ url_for('static', filename=mascota.foto_url) }}" alt="Foto de la mascota">

        </div>

        <!-- Información de la mascota -->
        <div id="mascota_info_container">
            <h2 id="mascota_nombre">{{ mascota.nombre }}</h2>
            <ul id="mascota_info_list">
                <li class="mascota_info_item">
                    <span class="mascota_info_icon">🐾</span>
                    <span class="mascota_info_text"><strong>Animal:</strong> {{ mascota.animal }}</span>
                </li>
                <li class="mascota_info_item">
                    <span class="mascota_info_icon">🧬</span>
                    <span class="mascota_info_text"><strong>Raza:</strong> {{ mascota.raza }}</span>
                </li>
                <li class="mascota_info_item">
                    <span class="mascota_info_icon">📍</span>
                    <span class="mascota_info_text"><strong>Lugar de pérdida:</strong> {{ mascota.lugar }}</span>
                </li>
                <li class="mascota_info_item">
                    <span class="mascota_info_icon">📅</span>
                    <span class="mascota_info_text"><strong>Fecha de pérdida:</strong> {{ mascota.fecha }}</span>
                </li>
                <!-- Nuevo ítem de Descripción -->
                <li class="mascota_info_item">
                    <span class="mascota_info_icon">📝</span>
                    <span class="mascota_info_text"><strong>Descripción:</strong> {{ mascota.descripcion }}</span>
                </li>
                <!-- Nuevo ítem de Otros Comentarios -->
                <li class="mascota_info_item">
                    <span class="mascota_info_icon">💬</span>
                    <span class="mascota_info_text"><strong>Otros Comentarios:</strong> {{ mascota.comentarios }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
