{% extends "base.html" %}
{% block title%}Perdí mi mascota{% endblock %}
{% block body %}
<div id="encontre_content">
    <div id="buscador_container">
        <label for="search"></label>
        <input type="search" id="search" name="fsearch" placeholder="Buscar">
    </div>
    <div id="flex_container">
        <div id="grid_container">
            <div class="item">
                <a href="{{ url_for('mostrar_mascota', mascota_id=1) }}">
                    <img class="item_image" src="{{url_for('static',filename='images/perro.jpg')}}" alt="">
                    <h3 class="nombre">#N/A</h3>
                    <h5 class="tipo">Perro</h5>
                    <h6 class="raza">Labrador</h6>
                    <p class="descripcion">Perro pequeño color marron, encontrado sin collar en Av. Libertador.</p>
                </a>
            </div>
            
            <div class="item">
                <a href="{{ url_for('mostrar_mascota', mascota_id=2) }}">
                    <img class="item_image" src="{{url_for('static',filename='images/gato.webp')}}" alt="">
                    <h3 class="nombre">Taya</h3>
                    <h5 class="tipo">Gato</h5>
                    <h6 class="raza">Persa</h6>
                    <p class="descripcion">Gato perdido con collar cerca de Av. Santa Fe.</p>
                </a>
            </div>
            
            <div class="item">
                <a href="{{ url_for('mostrar_mascota', mascota_id=3) }}">
                    <img class="item_image" src="{{url_for('static',filename='images/perro2.webp')}}" alt="">
                    <h3 class="nombre">Maco</h3>
                    <h5 class="tipo">Perro</h5>
                    <h6 class="raza">Labrador</h6>
                    <p class="descripcion">Encontramos este perro con collar por San Isidro.</p>
                </a>
            </div>
            
            <div class="item">
                <a href="{{ url_for('mostrar_mascota', mascota_id=4) }}">
                    <img class="item_image" src="{{url_for('static',filename='images/hamster.jpg')}}" alt="">
                    <h3 class="nombre">Maco</h3>
                    <h5 class="tipo">Hamster</h5>
                    <h6 class="raza">Chino</h6>
                    <p class="descripcion">Encontramos este hamster perdido, comunicarse si conoce al dueño.</p>
                </a>
            </div>
            
            <div class="item">
                <a href="{{ url_for('mostrar_mascota', mascota_id=5) }}">
                    <img class="item_image" src="{{url_for('static',filename='images/loro.jpg')}}" alt="">
                    <h3 class="nombre">Mirinda</h3>
                    <h5 class="tipo">Loro</h5>
                    <h6 class="raza">Guacamayo</h6>
                    <p class="descripcion">Loro perdido en la zona de Moron.</p>
                </a>
            </div>
            
            <div class="item">
                <a href="{{ url_for('mostrar_mascota', mascota_id=6) }}">
                    <img class="item_image" src="{{url_for('static',filename='images/gato2.jpg')}}" alt="">
                    <h3 class="nombre">Jack</h3>
                    <h5 class="tipo">Gato</h5>
                    <h6 class="raza">Siames</h6>
                    <p class="descripcion">Gato siames encontrado, con un collar con el nombre Jack.</p>
                </a>
            </div>            
        </div>
    </div>
</div>

{% endblock %}